.searchresult__container {
    margin: 25px 100px;
    padding-bottom: 100px;
}

.results_container {
    width: 50%;
    padding: 10px;
}

.searchresult__tabpanel {
    display: flex;
    user-select: none;
}

.searchresult__tabs {
    margin: 0px 20px 0px 0px;
    border-bottom: 3px solid #4F4F4F;
    line-height: 2.4;
}

.active {
    color: #3773E0;
    border-bottom: 3px solid #3773E0;
}

.searchresults_timings {
    margin: 20px 0px;
    color: #828282;
    font-size: 15px;
    font-weight: 300;
}

.searchresults__maindata {
    margin: 10px 0px;
    padding-right: 20px;
}

.searchresults__accounts {
    display: grid;
    grid-template-columns: auto auto;
}

.searchresults__data {
    margin: 60px 0px;
}

.searchresults__title {
    cursor: pointer;
    font-size: 20px;
}

.searchresults__subtitle {
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0px;
}